[2016-02-12 14:05] elpaso opened #18 "Error in woosh"
[code]

[2016-02-12 14:06] #18 closed

[2016-03-25 16:58] rjagadeeswaran commented on #18
Any update on this error? Has it been resolved ? I am facing the same issue when trying to save to Database using django models. django-haystack==2.1.0

[2016-05-30 08:19] timlinux opened #21 "Notify users that their email will be used for bulk contact"
We should update the plugin upload environment with a little notice to indicate that uploading a plugin to our repo indicates explicit agreement to be notified via bulk email on important notices from QGIS for plugin authors.

I propose the following text:

In addition we should add a proviso when a user uploads a plugin that the a condition of having the plugin hosted on http://plugins.qgis.org i

[2016-05-31 10:31] strk opened #22 "Add libre avatar support for user map"
Rather than (or in addition to) support uploading an avatar image for display on the map, it would be nice if the user map supported federated avatar, using the OSGeo registered email for lookups.

There are python libraries for this, see https://wiki.libravatar.org/libraries/

[2016-06-01 12:02] IvanSanchez opened #23 ""download plugin" button goes unnoticed"
In the past few days, I've had a few users in the OSGeo IRC channel ask for help about creating an OSGeo ID account for... downloading qgis plugins.

After double-checking that, indeed, qgis plugins can be downloaded without logging in with an OSGeo ID, I realised something.

The "download this plugin" button is small, and is hidden behind three clicks (plugin info → versions list → last version →

[2016-06-01 13:15] IvanSanchez commented on #23
Moved to https://hub.qgis.org/issues/14943

[2016-06-01 13:15] #23 closed

[2016-06-10 06:38] rduivenvoorde opened #24 "'None' shows up in Search Results"
Logged in, and searching for 'tools' (was searching for lat lon tools actually)...
There are results labeled 'None' in the Search Results, see screendump:

![selection_016](https://cloud.githubusercontent.com/assets/731673/15956127/98c5550e-2ee6-11e6-9ffd-2cea58989ca1.png)

The link in it is to http://plugins.qgis.org/search/?q=tools so ... nothing happens :-)

[2016-06-30 08:26] LeneFischer opened #25 "http://plugins.qgis.org/plugins/"
At the plugin page http://plugins.qgis.org/plugins/ you can´t list a page with all plugins or choose alphabetic. Now you have to click next a lot of times to eg. go to page 21.

![xxx](https://cloud.githubusercontent.com/assets/9905437/16481680/c752519e-3eac-11e6-909e-542727bc2f12.JPG)
Whis a list like this and an "All in one- page":
![yyy](https://cloud.githubusercontent.com/assets/9905437/164817

[2016-06-30 08:37] elpaso commented on #25
all in one page with 600+ plugins will result in a huge page, you can use the xml for that: http://plugins.qgis.org/plugins/plugins.xml

[2016-06-30 08:50] LeneFischer commented on #25
Most of the descriptions are text and the images very small, so all-in -one will not be so heavy.
Being able to sort and search in all is a very nice feature.
If a button - show all - is added, you can choose. And if you find it too heavy, being able to have an alphabetic list again.

The XML page is good, but not sorted in alphabetic order. Perhaps a link to the "secret" xml ;-)

[2016-06-30 10:29] elpaso commented on #25
The button "show all" was there, it was removed because it was too slow to load.

[2016-06-30 16:09] DelazJ opened #26 "Plugin titles / tabs all look the same in browser tabs"
Original report: https://github.com/qgis/QGIS-Website/issues/360

Let's open a few tabs about plugins in our browser.

The result is as you can see.

![275791f2-3deb-11e6-9e11-dcc1a4fe16b8](https://cloud.githubusercontent.com/assets/7983394/16495422/a31a00e2-3eed-11e6-82ce-a95fffe66c12.jpg)

They all have the same HTML TITLE..

What they should have is their or keyword prepended:
so that both type

[2016-09-02 16:06] akbargumbira opened #29 "User map should go to qgis.org"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/16)
## Author

[Paolo Cavallini](https://hub.qgis.org/users/10) (@pcav)
## Description

It seems out of place here. It would make sense to plot the IP who downoaded the plugins, not the users
## Comments

Anita Graser (@anitagraser) :

[2016-09-02 16:06] akbargumbira opened #30 "Add a bot to this tracker and the repo to the IRC QGIS channel"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/20)
## Author

[Paolo Cavallini](https://hub.qgis.org/users/10) (@pcav)
## Description

This will help following the activities
## Comments

Paolo Cavallini (@pcav) :

Akbar Gumbira (@akbargumbira)

[2016-09-02 16:06] akbargumbira opened #31 "Add an option "Add your plugin to standard GIT""
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/22)
## Author

[Paolo Cavallini](https://hub.qgis.org/users/10) (@pcav)
## Description

When uploading his plugin, the dev should be presented with the option of adding it also to the standard GIT for all plugins. Alternatively, he should indicate the URL of his code versioning system. Plugins without any c

[2016-09-02 16:06] akbargumbira opened #32 "Add an option "Create a bugtracker""
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/23)
## Author

[Paolo Cavallini](https://hub.qgis.org/users/10) (@pcav)
## Description

On uploading a plugin, the author should be presented with the option of automatically create a bugtracker instance for it. This could be compulsory, or at least strongly recommended.
## Comments

 Paolo Cavallini (@pcav

[2016-09-02 16:06] akbargumbira opened #33 "Support for presenting index.html info about plugins"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/3986)

Author
-----------
[Chris Crook](https://hub.qgis.org/users/607)

Description
-----------
It would be good if the repository had a feature of looking for an index.html file in the plugin zip file and providing a link to this if it exists. See

http://www.qgis.org/wiki/Writing_Python_Plugins#Documenta

[2016-09-02 16:06] akbargumbira opened #34 "user image is missing from planet pages"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/4508)
## Author

[Alessandro Pasotti](https://hub.qgis.org/users/15) (@elpaso)
## Description

See top right in page:
http://users.qgis.org/planet/tag/thematics/
the missing image is:
http://users.qgis.org/static//feedjack/default/img/faces/woostuff.png
which leads to 404
I'm not sure if it's just a matter

[2016-09-02 16:06] akbargumbira opened #35 "Planet not updated"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/4879)
## Author

[Alexander Bruy](https://hub.qgis.org/users/173) (@alexbruy)
## Description

RSS at http://plugins.qgis.org/planet/ is not updated anymore, while at http://qgis.org/planet it works. Seems one of this should be removed.
## Comments

Anita Graser (@anitagraser) :

Anita Graser (@anitagraser)

[2016-09-02 16:07] akbargumbira opened #36 "Embed Nabble view of Mailing Lists as forum.qgis.org"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/5275)
## Author

[Alex Mandel](https://hub.qgis.org/users/4)
## Description

Based on discussions on the mailing list about how to better integrate the all the qgis community tools I suggest the following tasks to bring forums/mailing list together as one via nabble and to make that reachable as part of the

[2016-09-02 16:07] akbargumbira opened #37 "Add user comments"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/6478)
## Author

[Paolo Cavallini](https://hub.qgis.org/users/10) (@pcav)
## Description

As above
## Comments

Paolo Cavallini (@pcav) :

Alessandro Pasotti (@elpaso) :

Paolo Cavallini (@pcav) :

Akbar Gumbira (@akbargumbira)

Paolo Cavallini (@pcav) :

[2016-09-02 16:07] akbargumbira opened #38 "Plugin licence"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/6617)
## Author

[Paolo Cavallini](https://hub.qgis.org/users/10) (@pcav)
## Description

In most plugins there is no separate licence file, and in many there is no licence whatsoever.
I think this should be a requirement for accepting a plugin on the repo, and should ask authors to fix this.
IMHO we should

[2016-09-02 16:07] akbargumbira opened #39 "Add an aggregate stats to the plugin manager's view"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/6808)
## Author

[Matteo Gismondi](https://hub.qgis.org/users/860)
## Description

Add an aggregate stats to the plugin manager's view that shows number of downloads per country per month. For companies like mine to have such tool is indispensable to understand which country to target for marketing and busi

[2016-09-02 16:07] akbargumbira opened #40 "Only four stars are shown on the plugin list page"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/8645)
## Author

[Anita Graser](https://hub.qgis.org/users/17) (@anitagraser)
## Description

Plugins can be rated with up to five stars and on the individual plugin page, up to five stars are displayed. In the plugin list on the other hand, only a maximum of four stars is visible.
## Comments

Alessandro P

[2016-09-02 16:07] akbargumbira opened #41 "Provide a nice user map"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/9930)
## Author

[Anita Graser](https://hub.qgis.org/users/17) (@anitagraser)
## Description

preferable using QGIS server

[2016-09-02 16:07] akbargumbira opened #42 "Add editor comments"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/10125)
## Author

[Paolo Cavallini](https://hub.qgis.org/users/10) (@pcav)
## Description

Approving a plugin is an increasingly complex task. It would be very useful to add a field of comments, visible only to plugin editors, to store info about reasons for non acceptance, etc.

[2016-09-02 16:07] akbargumbira opened #43 "The "repository" tag is not updated from metadata.txt"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/10142)
## Author

[Borys Jurgiel](https://hub.qgis.org/users/89) (@borysiasty)
## Description

Steps to reproduce:
1. Create a plugin with missing the "repository" tag in the metadata.txt and upload it.
2. The application complains about the missing tag of course.
3. Create a new (higher) version with that

[2016-09-02 16:07] akbargumbira opened #44 "Add a filter for "New" plugins to plugins website"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/10302)
## Author

[Borys Jurgiel](https://hub.qgis.org/users/89) (@borysiasty)
## Description

I would like to be able to sort or filter the plugins website, so that only new plugins would be shown, similar to the links for Featured, All, Stable, etc. in the op left corner.

Ticket moved from #9938
Original

[2016-09-02 16:07] akbargumbira opened #45 "Plugin name sort order is case-sensitive"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/10713)
## Author

[jtornero -](https://hub.qgis.org/users/626)
## Description

Plugin name sort order is case-sensitive, so first are displayed all plugins with first uppercase letter and then those with first lowercase letter.
It is annoying for the user, mainly because it gives the impression of "missing

[2016-09-02 16:07] akbargumbira opened #46 "Fresh plugin includes obsolete stuff"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/14913)
## Author

[Paolo Cavallini](https://hub.qgis.org/users/10) (@pcav)
## Description

Same for other tags, that use unclear classification.
See http://plugins.qgis.org/plugins/fresh/ http://plugins.qgis.org/plugins/most_downloaded/ etc.

[2016-09-02 16:07] akbargumbira opened #47 ""download plugin" button goes unnoticed"
[This issue has been migrated from the old QGIS issue tracker.](https://hub.qgis.org/issues/14943)
## Author

[Iván Sánchez Ortega ](https://hub.qgis.org/users/4064) (@IvanSanchez)
## Description

(Moved from https://github.com/qgis/QGIS-Django/issues/23 )

In the past few days, I've had a few users in the OSGeo IRC channel ask for help about creating an OSGeo ID account for... downloading qgis pl

[2016-09-19 13:48] mbernasocchi opened #48 "question mark in password kills upload_plugin.py"
Haven't had time to investigate more, but having a password with a question mark will generate this traceback:

[code]

[2016-09-19 13:49] mbernasocchi commented on #48
not even sure maybe I should file this on the pluginbuilder issue tracker?
@elpaso what do you think?

[2016-09-19 14:17] elpaso commented on #48
Not sure... it might also be an issue in the website.

[2016-09-26 14:13] carolinux opened #49 "Owners cannot approve plugins?"
Hi, I wonder what is the purpose of the code being like this here:
https://github.com/qgis/QGIS-Django/blob/master/qgis-app/plugins/views.py#L156
and here:
https://github.com/qgis/QGIS-Django/blob/master/qgis-app/plugins/models.py#L263

ie, why would somebody who is an owner of a plugin, need additional permissions to be able to approve said plugin?

[2016-09-26 14:21] elpaso commented on #49
You might find an answer here: https://github.com/qgis/QGIS-Django/blob/master/qgis-app/plugins/models.py#L254

[2016-09-26 14:21] #49 closed

[2016-09-26 14:33] carolinux commented on #48
@mbernasocchi getaddrinfo is called on your end and fails before managing to create a connection, so,  this doesn't have to do with the website, but rather, with how the url (which includes the authentication) is built.  ('?' being a special character for urls )

I suggest to close this.

[2016-09-26 14:38] carolinux commented on #49
I am asking what is the thought behind this - why an owner is not a de facto approver?

[2016-09-26 14:45] elpaso commented on #49
Because to approve a plugin you need to be a `trusted` user **and** an editor for that plugin. This was decided long time ago (not by me!), if you want to discuss this topic, the dev list is probably the right place.

[2016-09-26 14:46] anitagraser commented on #49
It's a quality & safety check which should be performed by someone other
than the plugin dev. For background info, maybe have a look at the "trusted
plugins" post on blog.qgis.org

On Sep 26, 2016 4:38 PM, "Ariadni-Karolina Alexiou" <
notifications@github.com> wrote:

[2016-09-26 15:10] carolinux commented on #49
http://blog.qgis.org/2016/08/26/what-are-trusted-plugins/
great, makes sense.

BTW (related to this repository, no action or further comment requested - just putting it here in case it's helpful because there's a FIXME) - there was must have been some bug in the website which had let me approve plugins for a long time now without the correct permissions(last date being April 20, 2016)  and now I c

[2016-10-11 16:41] ksketo opened #50 "Can't download plugins"
I am running QGIS on docker and I noticed that I can't install plugins. Every time I was getting a network timeout error. Initially, I thought that this was related to a bug with the docker image, but when I tried to access the download link on the browser I also got a network error. These are the links that I tried and both failed:
- http://plugins.qgis.org/plugins/openlayers_plugin/version/1.4.1

[2016-10-11 17:09] akbargumbira commented on #50
I can download both plugins just fine

[2016-10-11 19:46] ksketo commented on #50
It was due to the network. Was fixed when I connected to a different network.

[2016-10-11 19:46] #50 closed

[2017-04-05 12:09] borysiasty opened #51 "Plugin search doesn't consider the plugin ID (package name)"
The plugin search bar seems to only scan the "user friendly" plugin names (and author names). It would be useful to also include the package name (I often find myself remembering those rather than the pretty ones).

[2017-04-29 08:23] elpaso commented on #51
@borysiasty can you please check now if that works?

[2017-04-29 08:29] #48 closed

[2017-04-29 08:30] #47 closed

[2017-04-29 09:58] borysiasty commented on #51
Yes it does, thanks a lot!

[2017-04-29 09:58] #51 closed

[2017-09-04 19:40] rduivenvoorde opened #52 "Plugin notifications sent to dev list are bounced and returned to noreply@qgis.org"
@pcav kept receiving email notifications from the plugin website.

Apparent the reason is:
- the applications is sending all these notifications to all 'staff' members/users AND(!) to the QGIS_DEV_MAILING_LIST_ADDRESS
- then these posts are bounced (because of too many recepients?), and returned to... noreply@qgis.org (the default FROM-address)
- this email addres is currently then sent to this gr

[2017-09-04 20:08] jef-n commented on #52
sorry, already changed in 7f3b6fde3

[2017-09-05 07:00] elpaso commented on #52
@jef-n did you also deploy the changes?

[2017-09-05 07:35] jef-n commented on #52
@elpaso yes.

[2017-09-05 08:29] #52 closed

[2017-10-17 20:47] pyarchinit opened #53 "Impossible to changing the plugin owner"
I need to change the owner into my username pyarchinit or name Luca Mandolesi
How can I do this?

Regards.

![issueowner](https://user-images.githubusercontent.com/1929829/31688538-ee87682a-b38c-11e7-8bdd-b342a12e32c8.png)

[2017-10-18 06:56] elpaso commented on #53
you can't. Only an admin can.

Done

[2017-10-18 06:56] #53 closed

[2018-02-27 07:39] brylie opened #54 "Upgrade project to Django 4/Python 3.7+?"
Django 2.0 was recently released. What are tasks related to upgrading this project to support Django 2.0/Python 3.6+? How may I help?

[2018-03-19 09:07] kannes commented on #40
https://github.com/qgis/QGIS-Django/pull/16 had been merged. This can be closed.

[2018-03-19 13:50] kannes commented on #26
I did some stuff in https://github.com/kannes/QGIS-Django/tree/titles to allow titles have the important stuff in the beginning, eg. "Plugin Name | QGIS Python Plugin Repository".

It is **untested** and I am just guessing the syntax!

I could not figure out where to change the title of the tag pages like https://plugins.qgis.org/plugins/tags/area/ . There is no template defined for that? Should b

[2018-03-19 13:52] kannes commented on #32
Considering that online-hosted code repositories are commonplace nowadays and Github, Gitlab, Bitbucket etc all have issues integrated, I think this can be closed as request from the past. :)

[2018-03-19 13:55] kannes commented on #34
Can't reproduce this (anymore).

[2018-03-19 13:59] kannes commented on #35
There is no RSS feed provided by Planet, so I guess Alex meant the Planet itself.

Anyways, as of right now, the last aggregated post is from last week so it works fine.

This issue can be closed.

[2018-03-19 14:04] kannes commented on #41
There is https://plugins.qgis.org/community-map/ , what should be different?

[2018-03-19 14:05] kannes opened #56 "Deprecate plugins.qgis.org/planet/ URL"
qgis.org/planet/ redirects to planet.qgis.org/planet/ so that seems to be the canonical URL.
Please make plugins.qgis.org/planet/ also redirect there. Otherwise it is just confusing. The plugins subdomain is currently the top result on Google for "qgis planet" which is looking weird.

[2018-03-19 14:07] kannes commented on #46
@pcav, what did you mean by "obsolete"?

[2018-03-19 14:22] kannes opened #57 "Update download URLS to https in the db"
https://github.com/qgis/QGIS-Django/blob/master/scripts/get_plugins_xml replaces http with https in the <download_url> tags. Shouldn't this be done in the db or where ever it is stored once and for all ?

[2018-03-19 16:03] pcav commented on #46
Obsolete are plugins that are only usable in older, pre LTR versions of QGIS

[2018-03-19 17:07] elpaso commented on #57
no: the URL is not in the DB but generated dynamically: in theory, it should return https if the original call was secure, http if not.
But you are right that this is currently broken, probably by some docker/nginx misconfiguration on the server.

[2018-04-01 14:57] anitagraser commented on #41
Imho this issue relates to the previous user map and is solved by the map @kannes linked.

[2018-04-20 15:53] elpaso opened #58 "Check why temp files are not deleted on the server"
like: /tmp/tmpcqLPZY

[2018-04-20 15:56] elpaso opened #59 "rotate tmp/planet_update.log"

[2018-05-17 04:56] CAM-Gerlach opened #60 "No easy way to view or filter plugin compatibility with QGIS 3 (or any maximum QGIS version)"
## Summary Description

Given that QGIS 3 both has a raft of breaking changes in its APIs, and upgrades to Python 3 from Python 2, all but the most trivial plugins need to be updated. Therefore, it seems clear there would be a need for users to quickly and easily tell whether a given plugin supports QGIS 3, and filter searches by QGIS (maximum) version compatibility.

## Current Situation and Prob

[2018-05-17 06:07] elpaso commented on #60
Thanks for your comments: these are all good ideas, unfortunately it is manpower that lacks here.

For the time being: http://plugins.qgis.org/plugins/plugins.xml?qgis=3

[2018-05-17 07:02] CAM-Gerlach commented on #60
Thanks for letting me know. I retitled my second section to include "workarounds", which already included the above as well as doing the same from the QGIS plugins manager.

The very first one should be easy, at least. It would seem that just modifying [plugins/templates/plugins/plugin_detail.html](https://github.com/qgis/QGIS-Django/blob/master/qgis-app/plugins/templates/plugins/plugin_detail.htm

[2018-05-17 07:29] elpaso commented on #60
Sorry: no staging, no continuous integration, no continuous deployment :(

Please note that this project was one many years ago by volunteers (and some of those volunteers are now too busy fixing QGIS C++ core).

Your help would be really appreciated, if I can help you in setting up a dev env (and document the process along the way) please let me know.

btw, I don't think you absolutely need a doc

[2018-05-17 19:54] CAM-Gerlach commented on #60
Aww; it did seem a little rough around the edges but I had no idea the whole system was that old! Python 2.5, geez...I was in elementary school back when that was released, and with my young age and being an atmospheric science grad student I've hardly even used Python 2 at all except for a bit with ArcGIS, QGIS and a few scripts; everything else I do in my "day job" as a GRA (research, machine le

[2019-02-24 18:15] rduivenvoorde opened #61 "Github is alerting this project that is has known vulnurabilities"
See:

https://github.com/qgis/qgis-django/network/alert/REQUIREMENTS.txt/django/open

Would be cool we find time to update Django etc

[2019-03-12 09:19] rduivenvoorde opened #62 "[Feature Request] Warn when dev uploads a '__MACOSX' folder in the plugin zip"
See https://lists.osgeo.org/pipermail/qgis-developer/2019-March/056617.html

Some plugin zips contain a  '__MACOSX' folder which shows up in the plugin list:

![gnome-shell-screenshot-ETMGYZ](https://user-images.githubusercontent.com/731673/54188128-6078b600-44af-11e9-87d9-14c29cefe1fc.png)

We should either try not to show it in the list
Or warn the uploader when he/she uploads a zip with that fo

[2019-03-12 14:44] rdbath commented on #62
I wrote a script to check for plugins with __macosx-folder:
https://gist.github.com/rdbath/7f617d4d3b3417fdb50ae9048e2056cc
The main parts could be also used to check files when user upload their plugins.

[2019-08-30 13:18] olivierdalang commented on #43
Hi, bug also appears when changing the repository, it won't be updated (this is the case for instance for  https://plugins.qgis.org/plugins/travel_time_platform_plugin/ , where I changed the repo at version 1, but it still displays the old repo)

[2019-09-02 08:12] HugoP27 opened #64 "QGIS plugin repository unavailable"
![errorQGIS](https://user-images.githubusercontent.com/51097011/64099698-31f6dc00-cd6a-11e9-83bc-dbef44311dad.png)

[2019-09-02 19:39] brylie commented on #64
This issue is opened in qgis/QGIS-Django

[2019-09-17 09:54] Gustry commented on #64
Should we keep this issue open?

[2019-09-17 10:03] Gustry opened #65 "SVG is not loaded correctly on the website"
QuickOSM is using a SVG for the icon:
https://plugins.qgis.org/plugins/QuickOSM/
but the icon is not displayed anywhere on plugins.qgis.org.

On the featured list of plugins, if you scroll down a little, you will notice the missing icon too for QuickOSM:
https://plugins.qgis.org/plugins/featured/

SVG are working fine in Qt.

[2019-09-17 12:53] #64 closed

[2019-11-13 08:34] saberraz opened #66 "Planet does not work with some feeds"
I have noticed, that our feed does not get parsed correctly any more and it still shows old blog post. Here is the feed link:
https://www.lutraconsulting.co.uk/blog/categories/qgis/atom.xml

But planet shows older posts:
http://planet.qgis.org/planet/user/21/

[2020-02-04 14:36] timlinux opened #67 "Please address CVE's"
@dimasciput it would be great to have a clean slate here: https://github.com/qgis/QGIS-Django/network/alerts

[2020-02-04 14:36] timlinux commented on #66
I think we can fix this now after I updated your URL right @saberraz ?

[2020-02-04 14:46] saberraz commented on #66
Indeed. It is all sorted now. Thanks a lot for fixing the issue.

[2020-02-04 14:46] #66 closed

[2020-02-26 23:47] olivierdalang opened #68 "Allow to create tokens to upload plugin"
Hi !

It would be nice if users could create plugin specific tokens usable instead of login with the plugin upload API endpoint. This would avoid having to potentially compromise OSGeo logins in the context of automated deployments (travis/github actions), and more generally open some more flexible collaboration possibilities.

Cheers !

Olivier

[2020-03-12 04:19] suricactus opened #69 "The fields "create_date" and "update_date" both hold the same "update_date" in the plugin meta"
Literally the title. The problem is that the template model does not have access to the date of creation of the plugin, but only the date of creation of the version. Unfortunately, I'm not that familiar with Django to be able to solve it.

https://github.com/qgis/QGIS-Django/blob/33b7786e5201f14e9a80f512da9e76f7b94ad772/qgis-app/plugins/templates/plugins/plugins.xml#L17-L18

[2020-03-12 08:23] #69 closed

[2020-03-12 08:52] suricactus commented on #69
I am just looking at the diff, the `create_date` and `modified_on` are still related only to the plugin version, but not to the plugin itself. In theory they would rarely have different values. I see this is a very ancient Django and this project barely lives, so I am sorry for causing you headaches. If it is possible to add the XML fields `plugin_create_date` and `plugin_update_date` I would be h

[2020-03-12 09:14] elpaso commented on #69
@suricactus I'm sorry, but my time is very limited (you know how active I am on QGIS core). I'm not actively maintaining this project anymore, it's one of the oldest pieces of code of mines that is already running, sometimes I'm surprised it has been in production for so long without major issues.

[2020-03-12 09:30] suricactus commented on #69
No problem, it is not that important. Better spend your time on the core :) .
Nevertheless, it's a pity it is in a such a sorry state. Are there any plans to replace/upgrade? I might have more free time after a month or two...

[2020-04-13 09:22] s-m-e opened #73 "Plugin validation: More than one top-level folder "allowed""
If I understand the idea correctly, a plugin ZIP-file should have exactly one plugin top-level folder. Not more than one. If my understanding is correct, there is an issue in the validation: It only checks the "first" top level folder and does not care if there is more than one. (The current plugin installer in QGIS on the other hand also does not check if there is more than one sub-folder and jus

[2020-04-28 19:17] azvoleff opened #74 "Query building plugins.xml doesn't respect third component of version string"
The below line seems to ignore the third component of version strings:
https://github.com/qgis/QGIS-Django/blob/13d24967309d73c3df3adbb8a7e5c9466a1e0c4c/qgis-app/plugins/views.py#L932

This means that a plugin with a minimum version requirement like 3.10.3 (as is the case for [trends.earth](https://plugins.qgis.org/plugins/LDMP) - which depends on 3.10.3 or greater) doesn't show up on the plugin.x

[2020-07-12 22:01] timlinux commented on #57
Can you provide a specific case where http instead of https is being used in the xml or elsewhere in the site?

[2020-07-13 18:16] kannes commented on #57
Sorry, I don't remember anything about this.

[2020-07-13 19:22] biglimp opened #75 "Errors trying to update plugin"
Since the update last friday I cannot update one of my plugins ([1364] UMEP). The following error message is displayed:

**There were errors reading plugin package (please check also your plugin's metadata).
File is too big. Max size is 1048576 Bytes**

The plugin is attached. Is there a new size limit introduced?

[UMEP.zip](https://github.com/qgis/QGIS-Django/files/4914626/UMEP.zip)

[2020-07-13 23:42] dimasciput commented on #75
@biglimp thanks, I'll look into it and see what is causing it.

[2020-07-14 03:01] dimasciput commented on #75
Hi @biglimp, I increased the upload size limit, can you please try again?

[2020-07-14 06:25] elpaso commented on #75
Note that keeping the upload limit low was a deliberate choice: the reason was that:
- we didn't want blobs or other big assets in the zip
- a plugin it's supposed to be mainly python code and icons and when compressed it should produce a very small zip

That is why the default values was so small, during the years it was increased though.

[2020-07-14 06:49] dimasciput commented on #75
@elpaso ah ok got it, sorry I didn't know about that.

The past limit was 1048576 Bytes, and currently I've updated it to the size of the largest plugin available on the site which is 25mb.
So should I set the limit back to the original?

[2020-07-14 07:01] elpaso commented on #75
No, I also think that the default limit was too low (it was set a decade ago), I'm pretty sure that the limit we used in the old server had already been increased but I cannot remember what was its last value.

Anyway, you should probably go through the zips that are already uploaded on the server and get the max size, maybe something around 10MB would be good.

Also, make sure nginx limits are se

[2020-07-14 08:18] dimasciput commented on #75
@elpaso I already checked, and the largest size of the uploaded plugins is around 20mb, should I just set the max limit to 20mb?

[2020-08-03 15:25] lucamanga opened #79 "RSS feed for QGIS Planet"
Please provide a RSS feed for QGIS Planet, as in old version
Thank you!

[2020-08-10 08:57] lhirlimann commented on #56
@dimasciput can you have a look ? or tell me where to look , and maybe add wiki entries somewhere so we know how this is configured and works ?
 Cloudflare is not happy with those 2 first URLs : planet.qgis.org/planet/ and qgis.org/planet/

[2020-08-10 09:00] lhirlimann commented on #79
this is a duplicate of https://github.com/qgis/QGIS-Django/issues/56 - feed should be working right now. cc @rduivenvoorde @dimasciput

[2020-08-10 09:00] lhirlimann commented on #79
I would hav closed the issue but I don't have enough rights.

[2020-08-10 09:05] lhirlimann commented on #61
what's the state of this, did we update django when we moved plugins ? cc @dimasciput  Is this a duplicate of https://github.com/qgis/QGIS-Django/issues/67 ?

[2020-08-10 09:13] lhirlimann commented on #54
@dimasciput  was this achieve with the plugin migration ?

[2020-08-10 09:23] lhirlimann commented on #59
@timlinux looking at the code I only find comments about how the log file is generated.
I'd like to add a logrotate cron job to fix this issue. Where should I look ?

[2020-08-10 15:21] rduivenvoorde commented on #79
fixed now

[2020-08-10 15:21] #79 closed

[2020-08-14 15:23] agiudiceandrea opened #82 "Latest / Fresh plugins list is not updated (?)"
Currently, the following are the first plugins in the Latest / Fresh plugin list

  | Name |   |   | Author | Created on | Stars (votes) | Stable | Exp.
-- | -- | -- | -- | -- | -- | -- | -- | --
  | Land Productivity Analysis Tool (LPAT) | — | 409 | RCMRD | July 14, 2020 | (1) | 0.11 | —
  | AGT - Archaeological Geophysics Toolbox | — | 19183 | INRAP - Guillaume Hulin, Francois-Xavier Simon, Nari

[2020-08-31 07:34] agiudiceandrea opened #85 "Links to QGIS Project blog posts in https://qgis.org/feeds/qgisplanet.atom news feed use http:// protocol instead of https://"
In the https://qgis.org/feeds/qgisplanet.atom news feed, the QGIS Project blog posts are linked using the http:// protocol instead of the https:// one.
The other blog posts in the same feed use the https:// protocol.

Please make the links to the QGIS Project blog posts use the https protocol, too.

[2020-09-21 12:49] rduivenvoorde commented on #85
Not sure on how to do that. For blog.qgis.org we use a hosted wordpress instance.
In the Django Feedjack instance we indeed get the feed from
http://blog.qgis.org/feed/ (so NOT https)
But looking at the output of it, it does not become different if you request
httpS://blog.qgis.org/feed/

[2020-09-21 15:17] agiudiceandrea commented on #85
Yes, the links are http:// right in the feed. So, how is the feed created? Maybe it Is the code in https://github.com/qgis/qgis-feed?

[2020-09-29 10:41] timlinux commented on #82
Latest plugins are shown on the landing page:

![image](https://user-images.githubusercontent.com/178003/94548321-70e6b200-0248-11eb-8ed8-0abf6ce5bafc.png)

https://plugins.qgis.org/

The list should be the 10 newest plugin updates (either newly uploaded for the first time or recently updated)

The fresh plugins at https://plugins.qgis.org/plugins/fresh/ should list the plugins in reverse chronolo

[2020-10-23 00:53] sumandari opened #90 "Add New Model for New Feature: style-hub's clone"
### Background
To implement a clone of [@klaskarlsson](https://twitter.com/klaskarlsson) style repo at http://qgis-hub.fast-page.org on plugins.qgis.org requires to add a new model

### Model
<img width="371" alt="Screenshot 2020-10-23 at 8 36 31 AM" src="https://user-images.githubusercontent.com/40058076/96943521-f8070d00-150a-11eb-992c-77ee0d4c6b98.png">

### Task

- Create model Resource and wr

[2020-10-23 02:52] sumandari opened #91 "Add createView for uploading a new style"
Add createView CBV to manage a new created resource when user upload from frontend

## Task

- add createView in views.py
- create frontend template
- write create-resource test

cc: @timlinux @dimasciput

[2020-10-26 08:58] sumandari opened #95 "Add CI"
To add Continue Integration service in the repo in order to ensure that the code will have passed the test before PR merging.

[2020-10-26 09:52] rduivenvoorde commented on #82
Can this be closed? Or is this still an issue?

[2020-10-26 10:11] agiudiceandrea commented on #82
It seems still an issue.

Current list of Latest plugins = Fresh plugins:

Name | Latest version
------ | ----------------
Layer Tree Icons | Oct. 26, 2020
BLN Import | Aug. 31, 2017
Cartography Tools | Oct. 25, 2020
Split Features On Steroids | March 29, 2018
Floodrisk | Aug. 21, 2020
Semi-Automatic Classification Plugin | Oct. 25, 2020
QuerySelection | Nov. 30, 2019
QCopycanvas | Oct. 25, 2020
q

[2020-10-26 19:40] agiudiceandrea opened #97 "Plugins for 3.17 missing"
See https://lists.osgeo.org/pipermail/qgis-developer/2020-October/062496.html and https://lists.osgeo.org/pipermail/qgis-developer/2020-October/062479.html

[2020-10-30 09:24] #97 closed

[2020-11-02 07:56] biglimp commented on #75
20 mb is fine. Thanks. I close this now.

[2020-11-02 07:56] #75 closed

[2020-11-11 02:15] #90 closed

[2020-11-11 02:15] #95 closed

[2020-11-11 02:15] #91 closed

[2020-11-16 00:59] sumandari opened #103 "Styles pagination doesn't work correctly with sorting and show incorrect number of styles."
When the users sort the style and go to the next page, they won't get the correct result. Pagination doesn't give correct styles list if it runs with sorting simultaneously.
The GET arguments `?=order_by` will disappear when went to the next page, e.g `?page=2&&`

On the following images, sorted by name, zipper style should only appear on the first page, not the next page.
The number of records fo

[2020-11-18 02:16] sumandari opened #105 "Styles app: search input and filter by creator"
When styles list become larger, a search feature will ease the user to find the style they needed. And have a filter path to see all a creator's styles will be a good option for the user.

Search input will query based on:
- name of styles
- description of syles
- creator name (username, firstname or lastname)

@dimasciput @timlinux do you have any suggestion about this?

[2020-11-20 00:28] sumandari opened #106 "Email notification for styles moderation system."
To give a better user experience, it needs to have an email notification function to inform the user when their styles have been reviewed. So that they will be noticed early whether it's approved or rejected.
And also it will notify the staff when a new style has been uploaded so that they can review it.

cc @timlinux @dimasciput

[2020-11-20 01:32] #103 closed

[2020-11-20 21:48] vpicavet opened #107 "404 error on user map"
The following address gives a 404 error : https://plugins.qgis.org/community-map/

Furthermore, the link to file a ticket on the 404 web page links to the old repository : http://hub.qgis.org/projects/qgis-django

[2020-11-20 21:50] vpicavet opened #108 "Sort error on styles page"
Steps to reproduce :
- Go to https://plugins.qgis.org/styles/
- sort the style list thanks to one of the arrows on top of the style list
- click on "page 2"

Expected result : the next page of styles, sorted

Actual result : the second page of styles, unsorted

[2020-11-23 07:51] sumandari commented on #108
@vpicavet
Thank you for your information.
This issue has been fixed by #104. However, the deployment time is waiting for confirmation.
cc @timlinux @dimasciput

[2020-11-23 10:06] timlinux opened #111 "We need to completely document backup deployment on rancher, hetzner"
Please create a detailed README explaining how to backup, deploy, deploy updates

![image](https://user-images.githubusercontent.com/178003/99949715-65f55d00-2d73-11eb-929c-966a7b2877a7.png)

Also common tasks like configuring site settings for email recipients, sending etc.

Please make sure not to leak any sensitive information.

[2020-11-23 10:08] timlinux commented on #82
@sumandari please investigate and fix.

[2020-11-23 10:18] timlinux opened #112 "Many plugins fail to sync with backups"
@sumandari please investigate why and fix the root cause as well as tidying the permissions of these files

[code]

[2020-11-23 10:20] timlinux commented on #112
Also it is strange, we seem to have two copies of plugins? Can you check what is going on here?
´´´
root@5e44428e3a92:/usr# cd ..
root@5e44428e3a92:/# find . -name DSGTools_Op_Deffv37.zip
./home/web/media/packages/2020/DSGTools_Op_Deffv37.zip
./home/web/static/packages/2020/DSGTools_Op_Deffv37.zip
root@5e44428e3a92:/#
´´´

[2020-11-23 10:23] timlinux commented on #112
You can see here that for some reason the affected plugins are not readable by others

[code]

[2020-11-23 10:25] timlinux commented on #112
If I run this in a rancher console I can see that it is the same for all affected media:

[code]

[2020-11-23 10:26] timlinux commented on #112
I made a temporary fix by doing this:

[code]

[2020-11-23 10:27] timlinux commented on #112
@sumandari so for now your tasks are

- [ ]
- [ ] Get the sftp backup running locally so that you also have a local backup
- [ ] Monitor the incoming backups to see if the problem arises again
- [ ] If it does please investigate why some plugins are not written with og+r permissions

[2020-11-23 10:35] timlinux opened #113 "I dont think we need this any more"
https://github.com/qgis/QGIS-Django/tree/master/scripts

@sumandari please check and remove it and the containing folder.

[2020-11-23 10:37] timlinux opened #114 "Our media and static are the wrong way around"
Currently we write plugins into static and our static stuff like css goes into media. We need to switch these around. Styles currently correctly write into the media folder so that should remain as-is. The migration needs to be carefully managed so we have no downtime or breakages and the backup sftp scripts need to be updated.

[2020-11-25 01:03] sumandari commented on #67
@timlinux
the [link](https://github.com/qgis/QGIS-Django/network/alerts) is broken, please consider this issue is no longer relevant.

[2020-11-25 01:06] #105 closed

[2020-11-25 01:09] sumandari commented on #61
The [link](https://github.com/qgis/qgis-django/network/alert/REQUIREMENTS.txt/django/open) is broken, please consider this issue is no longer relevant.

[2020-11-25 06:36] sumandari commented on #107
@vpicavet if I'm not mistaken, the ticket is https://issues.qgis.org/issues/9930

This url path is disabled with a comment tag, and there's no module named 'user_map'
https://github.com/qgis/QGIS-Django/blob/a5023d84463fb64805b65873de5866fd2a274c55/qgis-app/urls.py#L37

@timlinux would you please advise about this. Thank you

[2020-11-25 06:45] sumandari commented on #111
@dimasciput would you please assist me on this since I have no experience to do those things yet. Many thanks :smiley:

[2020-11-25 08:54] sumandari commented on #82
Latest plugins list in template
https://github.com/qgis/QGIS-Django/blob/b887e3168b259d2c1a5bfcc127e0290bf902036a/qgis-app/templates/flatpages/homepage.html#L20
the `fresh` object list is:

https://github.com/qgis/QGIS-Django/blob/62ee4e2fc0450399c211fcc4d79fc8235702be34/qgis-app/homepage.py#L13

It has same query manager with `Fresh` page list:
https://github.com/qgis/QGIS-Django/blob/62ee4e2fc04

[2020-11-25 09:00] sumandari commented on #82
The latest deployment on 10th November will display the last modified date beside create date

Name| Last modified | Created on
-- | -- | --
Wtyczka GIS Support | today	 | Jan. 23, 2020
Sentinel-2 Download | today | March 16, 2020
Data-Driven Input Mask | today | May 8, 2013
PAT - Precision Agriculture Tools| yesterday | Feb. 5, 2019
EDE Interpolation | yesterday | April 21, 2019
QPackage | Yester

[2020-11-25 11:09] agiudiceandrea commented on #82
Thank you, @sumandari. Anyway the issue remains...

There is a "Latest plugins" list and a "Fresh plugins" list: currently both the lists contains always the same items in the same order.
So, I think the lists should have the same name, or they should list the plugins in different ways...

But, more important, actually the current "Latest plugins" / "Fresh plugins" list is still weird. I think a u

[2020-11-26 06:57] sumandari commented on #82
Aha! Latest plugin version. Thanks @agiudiceandrea. I submitted PR #115 for displaying the latest plugin version. But it doesn't change the list of both Latest and Fresh plugins yet. Please have a look at it.
@timlinux @dimasciput could you give suggestion about how the Latest Plugins and Fresh Plugins list should be.

[2020-11-26 10:22] sumandari commented on #74
Hi @azvoleff thank you for your input.

The page https://plugins.qgis.org/plugins/plugins.xml?qgis=3.10 does show [trends.earth](https://plugins.qgis.org/plugins/LDMP/) version 0.98.
The minimum QGIS version needed in order to run this particular plugin version is 3.10.0
So that it will run on QGIS 3.10.
From your sample case, could you please clarify what version should be showed on that page?

!

[2020-11-27 04:41] sumandari commented on #74
@timlinux @dimasciput

Do you think something wrong happened on server? when I'm running on my localmachine it will give expected result, but live server will give error a 404 page instead. https://plugins.qgis.org/plugins/plugins.xml?qgis=3.10.3

![plugins_tiket_74_fig_2a](https://user-images.githubusercontent.com/40058076/100411674-682a2500-30ad-11eb-9c6e-200b28ecc1f3.png)
![plugins_tiket_74_fig

[2020-11-27 09:26] timlinux commented on #107
@sumandari just hide the menu option for now until we can get a working map in place

[2020-11-27 09:28] timlinux commented on #107
For now I removed it from the menu

![image](https://user-images.githubusercontent.com/178003/100433347-de6d5e00-3092-11eb-957f-24935945132a.png)

We can add it back later when the map is implemented

![image](https://user-images.githubusercontent.com/178003/100433395-ec22e380-3092-11eb-8bb2-62a40824edf2.png)

[2020-11-27 09:28] #107 closed

[2020-11-27 20:31] agiudiceandrea commented on #82
I think we could have a list (for plugins with newer versions) ordered descending by the date of the latest plugin version published and a list (for newly uploaded plugins) ordered descending by the created on date.

[2020-11-30 03:13] sumandari commented on #43
@olivierdalang, could you please confirm if the issue still persists? I tried to reproduce your issue. I changed the repository value in metadata file and uploaded it with the new version, the application displayed the new repository instead.

[2020-12-02 06:51] sumandari commented on #59
Hi @lhirlimann,
FYI, there's already a cron job in server runs every 10 minutes for feedjackupdate
`python manage.py feedjackupdate`

[2020-12-02 07:59] Gustry opened #117 "Add some checks on the metadata.txt"
Related to the nice work from @sumandari in #116
I think we could have more checks in the validation process.

For instance, in the `metadata.txt`:
* bug tracker
* plugin home page
* code repository
should have valid URL (not a 404 for instance). There is a few times where we can't contact plugins author.

I'm sure that @NyakudyaA has some others idea to check ? ;-)

[2020-12-02 09:34] timlinux commented on #59
@dimasciput implementation of feedjack for django 2 uses a rancher scheduled task to update the feed and there are no logs kept, so we can close this.

[2020-12-02 09:34] #59 closed

[2020-12-02 09:49] timlinux commented on #61
We still have warnings @sumandari
![image](https://user-images.githubusercontent.com/178003/100856614-916afc80-3483-11eb-8079-842a4abd1299.png)

Let's keep our code clear of any known vulnerabilities.

[2020-12-02 09:50] timlinux commented on #61
![image](https://user-images.githubusercontent.com/178003/100856761-bd867d80-3483-11eb-89bf-0fa4cef304ec.png)

[2020-12-02 09:52] timlinux commented on #67
Duplicates #61  - I have given @sumandari needed access so she can address the CVE's

[2020-12-02 10:04] timlinux commented on #42
Maybe we should do this in a more transparent way, with a reject button and a description box that can explain why the version was rejected, with an email being sent to the submitter? @pcav

[2020-12-02 10:05] timlinux commented on #42
@sumandari  please chat with Admire about this.

[2020-12-02 10:05] timlinux opened #118 "add a feature: sharing GPKG file."
A GeoPackage should come with:

- a proper screenshot
    - description explaining what project demonstrate
    - filesize < 1 mb

[2020-12-02 10:15] timlinux commented on #112
[code]

Problem still exists @sumandari

[2020-12-02 12:38] Gustry commented on #42
For now the "unapproved" list is a mixed of rejected, pending approval, waiting for plugins dev to answer etc.
Comments would be nice to have indeed.
Ideally, we should have some new queue system : new plugins -> waiting for a full review -> reviewing by someone -> comments (then back to a waiting for review) OR approved

Thanks Kartoza for spending some time on the plugin system !

[2020-12-03 07:44] sumandari commented on #58
currently on server that persists in /tmp folder is
[code]
I'm not sure whether it's normal to be persist or not.

[2020-12-03 07:57] elpaso commented on #118
I must have missed something, what is this feature for? Demo projects?

[2020-12-03 08:27] sumandari commented on #58
current /tmp files
[code]

[2020-12-03 09:21] sumandari commented on #112
this is what I got when run backup script
[code]

[2020-12-03 11:15] NyakudyaA commented on #117
@sumandari Here is an example of bad metadata.txt

![Screenshot 2020-12-03 at 13 06 53](https://user-images.githubusercontent.com/2510900/101002358-a79eb880-3568-11eb-903a-d3eb92c85f3a.png)

Besides the validation how can we also portray the message that we need a valid
* bug tracer
* plugin home page
* code repository.

Other checks we need to have that people need to:
* A short description of wh

[2020-12-03 12:05] olivierdalang commented on #43
Seems fixed on the plugin where I had the issue in the first place. I'll double check next time I have an update to that plugin, as the repo changed again.

[2020-12-03 23:36] sumandari commented on #67
the alerts has been cleaned
![67_VCE_closed](https://user-images.githubusercontent.com/40058076/101101249-22b4ad00-3603-11eb-90e7-86efb90feaf2.png)

[2020-12-03 23:36] #67 closed

[2020-12-03 23:37] sumandari commented on #61
the alerts has been cleaned
![67_VCE_closed](https://user-images.githubusercontent.com/40058076/101101448-93f46000-3603-11eb-9f90-bd5bc8b0c4b8.png)

[2020-12-03 23:41] sumandari commented on #113
this folder has been removed by PR #121

[2020-12-03 23:41] #113 closed

[2020-12-03 23:45] sumandari commented on #62
@rduivenvoorde @thbaumann this validation was implemented in https://github.com/qgis/QGIS-Django/pull/116

[2020-12-03 23:54] sumandari commented on #82
@agiudiceandrea the new list for new plugins and updated plugins has been implemented by https://github.com/qgis/QGIS-Django/pull/115

[2020-12-03 23:56] sumandari commented on #43
Thanks @olivierdalang

[2020-12-04 00:25] nyalldawson opened #122 "Incorrect count of styles shown"
Going to https://plugins.qgis.org/styles/?page=1&& shows a header "20 records found":
![image](https://user-images.githubusercontent.com/1829991/101106101-189ea880-361b-11eb-8117-783b1e39f4da.png)

This is incorrect -- it's showing the count of records on the current page only.

The equivalent plugin page shows the correct total count, not the current page count:

![image](https://user-images.gith

[2020-12-04 00:30] nyalldawson opened #123 "Show larger thumbnails for style browsing"
The current way of browsing styles is not so friendly -- you get a tiny icon as the only preview of how a style looks:

![image](https://user-images.githubusercontent.com/1829991/101106261-6a473300-361b-11eb-9a5e-6dae427c8dd4.png)

This makes it hard to see if a style is worth fetching and you have to first click on the row to see a full sized preview. Eg look at the icon for Dormido Rough -- it l

[2020-12-04 01:46] sumandari commented on #122
Thanks for your input @nyalldawson
This issue has been fixed by PR https://github.com/qgis/QGIS-Django/pull/104. It's waiting for deployment.

[2020-12-04 01:46] dimasciput opened #124 "Upgrade bootstrap to the latest one"
Current version of bootstrap is quite old, we need to update it so we can use many new features from bootstrap.

[2020-12-04 01:47] dimasciput opened #125 "We should make search work across both styles and plugins, with grouped results depending on if it comes from style or plugin models."

[2020-12-04 01:52] dimasciput opened #126 "Reduce the space between the image and the information"
![image](https://user-images.githubusercontent.com/1979569/101111454-c7d48300-360d-11eb-8c1c-2679acc2680c.png)

Maybe for the image just use col-4 or span-4.

[2020-12-04 01:57] nyalldawson commented on #122
Thanks @sumandari !

[2020-12-04 06:38] sumandari commented on #118
Hi @elpaso, this is alike styles module but for sharing small example QGIS projects (gpkg file). I believe @timlinux can explain it better

[2020-12-05 14:19] NyakudyaA opened #128 "Extra validation for uploaded plugin"
#Problem

Sometimes plugin authors zip their plugins with the following folders

* __pycache
* .pyc

These files are automatically generated when we install the plugin.

We need to also validate against these

https://github.com/qgis/QGIS-Django/issues/117

cc @sumandari

[2020-12-06 16:04] agiudiceandrea commented on #82
Fixed by #115

[2020-12-06 16:04] #82 closed

[2020-12-07 07:18] #106 closed

[2020-12-07 20:17] borysiasty commented on #43
I don't have any affected plugin at hand, so feel free to close the ticket. I'll reopen it if it turns out the problem still exists.

[2020-12-08 07:12] sumandari opened #131 "No icons in styles list view on mobile device"
Also note that in the list view I dont get any icons on my mobile device

_Originally posted by @timlinux in https://github.com/qgis/QGIS-Django/issues/129#issuecomment-739783212_

[2020-12-08 15:20] #108 closed

[2020-12-08 15:26] sumandari commented on #58
seems to be fixed now

[2020-12-08 15:26] #58 closed

[2020-12-08 15:29] sumandari commented on #122
fixed,  thanks.
![count_styles_all](https://user-images.githubusercontent.com/40058076/101503462-176bd380-39ad-11eb-9c4e-8e273aba8d1a.png)

[2020-12-08 15:29] #122 closed

[2020-12-08 15:31] timlinux commented on #123
I think we could also add a gallery view @sumandari like Klas had in his origina mockup. Thanks for the fix @sumandari and the report @nyalldawson

[2020-12-08 15:31] #123 closed

[2020-12-08 15:35] timlinux commented on #112
[code]

[2020-12-08 15:37] timlinux opened #133 "Confirm that you can succesfully restore the backups"
Please also document and add to the README the process for running backups and for successfully restoring them.

[2020-12-08 15:49] timlinux opened #134 "We need to support uploading models"
Same workflow as styles and projects. See the sample data in SimpleModel folder I shared with you.

[2020-12-10 08:01] sumandari commented on #42
Hi @Gustry @NyakudyaA @timlinux @dimasciput

I tried to create a comment modal for plugins review, to replace thumb up button. But I'm not sure, where the comment should be displayed on the page or it should be just sent in email notification. Could you please give a suggestion for this?

![plugins_42_add_comment](https://user-images.githubusercontent.com/40058076/101738048-96255580-3b00-11eb-970d

[2020-12-11 14:47] sumandari opened #137 "Remove the the automatic title case logic for projects (geopackages)"
When users create name QGIS, it should display `QGIS` instead of Qgis.

[2020-12-17 00:17] nyalldawson opened #142 "Handle licenses for style objects"
Currently there is no license handling or metadata for style resources. We should either:

1. Offer an option for users to select a license when uploading styles, and offer only a choice of licenses we deem as suitable. Then we need to show this license explicitly on the style resource page so that users know if they are able to use the style without issue.

or

2. Select a single license and make

[2020-12-17 00:18] nyalldawson commented on #142
(This should really be treated as high priority -- without a clear license the style repository is not professional/enterprise friendly!)

[2020-12-17 09:34] timlinux commented on #142
Hi @nyalldawson

Yeah I was thinking about this too. Personally I was going to go with option 2 in your list. I have a few reasons for this:

* Requiring publishers to understand different license regiemes is not very friendly, easier to have a blanket rule
* I don't want us to have to act as 'license police', we dont have the resources for it, it is better to put the onus on the user to ensure ev

[2020-12-17 09:46] nyalldawson commented on #142
Sounds good to me Tim!

[2020-12-21 08:49] timlinux commented on #142
Check the updates for the deployed work @nyalldawson - thanks for your suggestion!

[2020-12-21 08:49] #142 closed

[2020-12-28 22:51] nyalldawson commented on #142
Thanks @sumandari @timlinux !

I think there's one missing part here -- we should explicitly state the license also on the style details page, not just the upload page. I.e. https://plugins.qgis.org/styles/3/ should say state somewhere that the item is cc-0, with a link to https://creativecommons.org/publicdomain/zero/1.0/ and the corresponding cc icon

[2020-12-30 03:09] FVW-Services opened #147 "Uploading my Plugin"
I am trying to upload a plugin zip file and this is the error message gotten:

**There were errors reading the plugin package (please check also your plugin's metadata). For security reasons, the zip file cannot contain the '.git' directory**

[2020-12-30 04:31] Gustry commented on #147
Does your zip contain the hidden `git` directory  as stated in the error message ?
Drop your ZIP attached here so we can check

[2020-12-30 04:36] FVW-Services commented on #147
[dem_drainage_analyses.zip](https://github.com/qgis/QGIS-Django/files/5753048/dem_drainage_analyses.zip)

[2020-12-30 06:05] Gustry commented on #147
Remove `__pycache__` folder

[2020-12-30 06:11] Gustry commented on #147
I'm also checking your metadata at the time.
Please check URL provided.

[code]

You made a typo in `Draiange`. It won't be valid.

And the correct URL
https://github.com/FVW-Services/DEM_Drainage_Analyses
is not correct as well because it needs to the source code, not the zip.

[2020-12-30 10:20] timlinux commented on #142
Thanks @nyalldawson

@sumandari is adding it in #146

[2020-12-30 18:05] FVW-Services commented on #147
I have effected all those changes (corrected the typo, and removed the __pycache__ folder) and also uploaded the source code "DEM_drainage_analyses.py" file.

I still can not upload my plugin here: https://plugins.qgis.org/plugins/add/

This error still shows: There were errors reading the plugin package (please check also your plugin's metadata). For security reasons, the zip file cannot contain

[2020-12-31 05:16] Gustry commented on #147
Attach your zip so we can understand.

@sumandari Maybe the error message needs to be improved ?

[2020-12-31 05:23] FVW-Services commented on #147
[dem_drainage_analyses.zip](https://github.com/qgis/QGIS-Django/files/5756500/dem_drainage_analyses.zip)

[2020-12-31 05:45] Gustry commented on #147
I honestly don't know what is wrong with the zip.
But for sure, you can remove all not necessary folder such as :
`.idea`
`help`
`scripts`
`test`
(at least from the zip)

Also in the metadata.txt, you have duplicated lines :
[code]

[2020-12-31 05:48] FVW-Services commented on #147
does the duplication really affect it? and do you mean I should remove all those folders while uploading the plugin into QGIS?

[2020-12-31 05:50] agiudiceandrea commented on #147
The ".gitignore" (it contains ".git" in the path string) file that is in the ".idea" folder shold be removedvin order to pass the current check

[2020-12-31 05:57] FVW-Services commented on #147
Thank, you so much. It has been uploaded successfully. So I now wait for its approval. Thanks again.

[2021-01-04 06:11] #137 closed

[2021-01-15 12:26] rduivenvoorde opened #149 "Add small icon in front of marker? (styles sharing)"
Hi, tiny detail.

But it would be nice to add a small icon in front of 'Marker' in the left menu:

![Screenshot-20210115132223-304x446](https://user-images.githubusercontent.com/731673/104727055-fd07e100-5734-11eb-8646-ee0ba9e61144.png)

It would just look a little nicer :-)

Another minor thing: I do miss the url to this repo, so people can easily see where the code is (and maybe issue features/b

[2021-01-21 09:14] sumandari commented on #149
Hi @rduivenvoorde, thank you for the input. Do you have any suggestion what the best icon image shall be added into it? @timlinux would you please advise on this.

About the github link, can we added it in the footer? e.g:
![image](https://user-images.githubusercontent.com/40058076/105328035-938f4300-5c0a-11eb-91be-cc2b667509fd.png)

And shall we update the license information mentioned on style/p

[2021-01-21 09:27] rduivenvoorde commented on #149
@sumandari about the icon, I would take one of the standard (familiar looking one):

![Screenshot-20210121102411-379x341](https://user-images.githubusercontent.com/731673/105330735-ed741680-5bd2-11eb-8dd8-139174865e18.png)

I would take a small red dot I think...

About available on Github: I see that the little octocat-icon of github goes to github.com/qgis it could go to https://github.com/qgis/

[2021-01-21 09:57] sumandari commented on #149
Thanks @rduivenvoorde. Now you can see the small red dot as marker icon on the web page. :-)
![image](https://user-images.githubusercontent.com/40058076/105333656-f1268e00-5c10-11eb-94f0-370c50405c49.png)

About the github repo information, in my opinion, I prefer to change the link on octocat-icon to https://github.com/qgis/QGIS-Django as you mentioned (if it's fine to replace the link). For me m

[2021-01-27 06:07] timlinux commented on #149
Thanks @sumandari and @rduivenvoorde

[2021-01-27 06:07] #149 closed

[2021-01-28 09:46] sumandari commented on #112
the fix #132 doesn't work. We need another solution.

[2021-02-02 10:46] timlinux opened #155 "We need an API for discovering resources"
![image](https://user-images.githubusercontent.com/178003/106588815-2604e000-6543-11eb-9aad-138a41797ca6.png)

# For Listing

Should be able to add as filters:

* resource type (symbol / project / composition etc)
* resource subtype (line symbol etc.)
* keywords for search (e.g. 'Elevation') - should be case insensitive
* creator

Results should include:

* resource id
* resource creator
* number

[2021-02-02 10:47] timlinux opened #156 "We need an API for uploading resources"
![image](https://user-images.githubusercontent.com/178003/106589513-002c0b00-6544-11eb-904e-f2e8db996039.png)

[2021-02-02 10:47] timlinux commented on #156
To think about:

* authentication
* permissions (e.g. can only replace your own resources)
* ldap vs API tokens

[2021-02-02 10:49] timlinux commented on #147
Thanks I will close this for now.

[2021-02-02 10:49] #147 closed

[2021-02-02 10:50] #134 closed

[2021-02-02 10:51] #133 closed

[2021-02-02 10:52] timlinux commented on #118
Yes it is for sharing demo projects

[2021-02-02 10:52] #118 closed

[2021-02-02 10:57] timlinux commented on #85
@rduivenvoorde I think we can just change it here (needs admin rights):

https://plugins.qgis.org/admin/feedjack/feed/28/change/?_changelist_filters=q%3Dqgis

![image](https://user-images.githubusercontent.com/178003/106590715-4fbf0680-6545-11eb-8c67-4abb51692c98.png)

I have set it to use https, not sure if it will re-havest old entries though.

[2021-02-03 07:47] Gui0delp opened #157 "New version of the plugin approved but does not appear in QGis desktop"
Hi,
I uploaded a new version (v1.1.1) of my plugin not long ago and it was approved, thank you for that :) But currently the plugin has no downloads because on the QGis desktop side, the update does not appear. It is likely that it is from my metadata but I am drying, can someone help me on this point or explain to me the why and how? ^^

[https://github.com/Gui0delp/french_address](https://github

[2021-02-03 10:08] Gustry commented on #157
Same problem as https://github.com/qgis/QGIS/issues/41336

@timlinux @dimasciput Do you have any idea related to the server maintenance last week ?

[2021-02-03 10:11] dimasciput commented on #157
@Gustry I'm on it

[2021-02-03 10:19] rduivenvoorde commented on #157
Not sure if we still create the xml's every 15 minutes, but if so, it could be that that process does not run?

[2021-02-03 10:20] dimasciput commented on #157
oh no, the worker that responsible for generating the metadata is down, I'm really sorry, should be fixed now. @Gustry @rduivenvoorde @Gui0delp

[2021-02-03 10:24] Gui0delp commented on #157
@dimasciput No problem, everything works, thank you very much :)

[2021-02-03 10:25] Gustry commented on #157
I can confirm I can see the plugin @Gui0delp French Address v1.1.1

@Gui0delp Can you close your ticket ?

[2021-02-03 10:25] #157 closed

[2021-02-05 00:15] jayenashar opened #160 "please change "Plugins" to "Download Plugins"?"
in the header of https://plugins.qgis.org/

so people don't think they need an account to download plugins (OSGeo SAC is saying this is a common reason for people requesting a mantra)

[2021-02-05 14:04] timlinux commented on #157
In the last update we changed it to regenerate the XML cache whenever a plugin is uploaded so it is always 'current'.

[2021-02-10 08:56] timlinux commented on #156
Lets hold on this for now, test out the read API and get used to it before we start making write support.

[2021-02-10 09:00] timlinux commented on #117
@sumandari maybe start with the simple cases:

 We need a valid:

    bug tracer
    plugin home page
    code repository.

@NyakudyaA and @Gustry I don't know if there is a good way we can check the other items like external lib checking and changelog population. If you have ideas about this, please share the logical framework that you think @sumandari should follow so she can implement that.

[2021-02-10 09:15] NyakudyaA commented on #117
@sumandari You can just check if the links are valid but are not the basic links provided by the plugin builder ie
![plugin-builder](https://user-images.githubusercontent.com/2510900/107489059-dc467600-6b90-11eb-857c-4c51cdde86f1.png)

For the code repository, I would just add an extra check to see if the repo is a public repo or not and reject it if the repo is a private one

[2021-02-10 09:39] Gustry commented on #117
Yes, that's would be cool, checking that
* the bug tracker is indeed **not** `http://bugs`
* the repo is not `http://repo`
* the homepage is not `http://homepage`

And raise a graphical warning if these given URL are not valid with an HTTP request ?  (not a 4XX or 5XX HTTP return code)
Because I don't want a plugin to fail uploading if the website is temporarily down for instance.

We can think ab

[2021-02-25 01:55] Gustry opened #169 "Error while uploading a plugin about links"
Since #163, I'm having a issue uploading the plugin on the website.

By using qgis-plugin-ci : https://github.com/3liz/lizmap-plugin/runs/1975378326#step:8:443

[code]

I tried to download the ZIP manually from https://github.com/3liz/lizmap-plugin/releases/tag/3.4.1
and uploading it on the website :

[code]
Here, the error message, is not mentioning any compressed archive.

But I have check all l

[2021-02-25 01:59] Gustry commented on #169
Ok, I could upload the plugin by changing from

[code]

to

[code]

[2021-02-25 02:24] sumandari commented on #169
Thanks for the detail @Gustry.
I updated the error message, and use your url value:

![image](https://user-images.githubusercontent.com/40058076/109093427-4e06ee00-7753-11eb-8dd5-14a69b27537c.png)

but I think the homepage url `https://docs.lizmap.com` should pass the check

I will provide a better error message to expose  which validation check was failed, and sort out why this url link didn't pa

[2021-02-25 02:35] sumandari commented on #169
The error came from

https://github.com/qgis/QGIS-Django/blob/dd43bcb273c3f072f99f3e245fe93abc506ee1c4/qgis-app/plugins/validator.py#L83

[code]

It will pass when the url using `http` instead `https`.

[2021-02-25 04:38] Gustry commented on #169
Thanks for checking @sumandari

Is there anything to check on our server ?
But this issue might be raised by other plugins and the check shouldn't be that strict ?
Maybe you should just `try..except` this exception and `pass` ?

[2021-02-25 05:15] sumandari commented on #169
I add an exception:

[code]

I don't understand this question @Gustry . Can you please explain?

[2021-02-25 05:24] Gustry commented on #169
As the issue is on the url https://docs.lizmap.com/current/en/ I was also wondering if there is a SSL/HTTPS configuration to check on **our** docs.lizmap.com server.

The exception you added looks good, no ? Thanks

[2021-03-01 11:53] sumandari opened #171 "Update documentation on /publish"
We need to update the documentation about forbidden folder in plugins zipfile

[2021-03-02 03:16] Gustry commented on #169
I will release a new version of the plugin now.
I will change the homepage URL, but as soon as this is fixed, I will put back this URL.

Thanks

[2021-03-02 03:35] sumandari commented on #169
I'm not not sure about this, maybe @dimasciput have suggestion?

I will inform once it's deployed, thanks @Gustry

I will change the homepage URL, but as soon as this is fixed, I will put back this URL.

[2021-03-03 10:22] timlinux commented on #171
Yes please add to the publishing page

[2021-03-15 19:06] #85 closed

[2021-03-22 02:53] sumandari commented on #171
There's an error when go to update page in admin
![image](https://user-images.githubusercontent.com/40058076/111934597-b3ed5800-8afc-11eb-8b1f-e9c3faddf8ec.png)

[code]

[2021-03-22 04:35] sumandari commented on #171
the error fixed with https://github.com/qgis/QGIS-Django/pull/172

[2021-03-22 07:42] sumandari commented on #171
/publish/ updated:

![image](https://user-images.githubusercontent.com/40058076/111955700-cc716880-8b24-11eb-9a7f-30563c1c1f6c.png)

![image](https://user-images.githubusercontent.com/40058076/111956012-3b4ec180-8b25-11eb-8340-897db6335ea1.png)

[2021-03-22 07:42] #171 closed

[2021-03-22 08:13] sumandari commented on #169
Hi @Gustry,  this fix has been deployed. Could you please give it a try and let me know if the issue exists. Thanks!

[2021-03-22 08:37] Gustry commented on #169
Ok, I will release a new version soon I guess. Thanks !

[2021-03-22 08:37] #169 closed

[2021-04-07 20:57] ymoisan opened #176 "Deploying from scratch with Rancher"
Hi,

Can the set of containers in this project be deployed on a private cloud infrastructure using Rancher ?  I've seen Rancher can be used to update an existing installation, but can it be used to deploy a new setup from scratch ?  Our use case is that we'd like to have a local plugins repo for things that are of interest only to us or that we are not ready to open up to the community.  Thanx for

[2021-04-08 02:04] sumandari commented on #176
Hello @ymoisan,

Thank you for your interest in this project and the rancher deployment. The answer is yes, we can. We have been using rancher for production.

[2021-04-08 13:57] ymoisan commented on #176
Hello @sumandari.  We are just having a hard time finding how to do that ;-).

[2021-04-14 13:36] stlaurentc commented on #176
Hi @sumandari I'm also interested to know how to do that !

[2021-04-14 13:44] elpaso commented on #176
@ymoisan if you need a simple plugin private repo you might want to have a look to:
https://github.com/planetfederal/qgis-plugin-repos
https://github.com/planetfederal/qgis-plugins-xml

[2021-04-16 00:17] sumandari commented on #176
Hi @ymoisan @stlaurentc, since the integration environment in Rancher was created by another maintainer, it will be some time to elaborate the rancher documentation. I will post here once it's ready.
Please have a look at repositories mentioned above (thank you @elpaso!) for another options.

[2021-04-20 10:33] rpispico opened #177 "FastVersion Plugin broken url"
The FastVersion plugin has broken urls to the homepage, the bug tracker and the code repository.

https://plugins.qgis.org/plugins/FastVersion/

Thanks
Rocco

[2021-04-21 02:46] Gustry commented on #177
I have contacted the author.

[2021-04-26 04:08] sumandari opened #178 "Validate the exisiting zipfile packages on server"

[2021-04-26 11:13] timlinux commented on #176
@sumandari also we should clarify if we are talking rancher 1.x here or rancher 2.x (k8 based). For me I think any work we do on making this publicly re-usable should probably be done on rancher 2.x since 1.x is going end-of-life.

[2021-07-09 04:07] sumandari opened #181 "Find a foolproof way to validate URL on metadata"
We need to add a method to check the URL in metadata, we don't want URLs like `https://example.com` or `http://foo.bar.com` are accepted as a valid URL.

[2021-07-09 04:40] sumandari commented on #181
I have put in a feature request to change the URL value to text as placeholder on the plugin builder at https://github.com/g-sherman/Qgis-Plugin-Builder/issues/133

[2021-07-09 06:23] sumandari commented on #181
/cc @NyakudyaA

[2021-07-09 07:42] NyakudyaA commented on #181
Maybe https://github.com/qgis/QGIS-Enhancement-Proposals/issues/219 will take care of this issue. @Gustry Is this in your road plan to fix URL validation in metadata.txt

[2021-07-09 07:43] NyakudyaA commented on #181
There seem to be other plugin builders out there as described here https://github.com/qgis/QGIS-Enhancement-Proposals/issues/223.

[2021-07-09 07:54] Gustry commented on #181
What is not correct with `https://example.com` or `http://foo.bar.com`  ?

[2021-07-09 07:59] sumandari commented on #181
I think we want to have something like github.com or gitlab.com for the repository and bug tracker instead of those URL, and also have a real homepage URL address.

[2021-07-09 08:06] NyakudyaA commented on #181
![url-s](https://user-images.githubusercontent.com/2510900/125045276-1adb5080-e09d-11eb-8613-6f3ec4154df9.png)

Although these URLs might be valid we are always 90% certain that those are not valid URL for the code repository as depicted above

[2021-07-09 08:48] Gustry commented on #181
Ah ok sorry, you mean "these precise" URLs, not the URL scheme.

In the code, the easiest to blocklist "https://example.com"

[2021-07-12 00:43] sumandari commented on #181
Agreed, we can create a list to block URLs. Is there any reference/link to get the public list of this kind of URL on the internet? So that we just can copy it to our list.

[2021-07-12 06:34] Gustry commented on #181
I don't think we can't avoid a human check here.
We can only block URLs which are provided by default in tools generating plugins. So I dunderstood the one from Plugin builder is "example.com" ?

https://github.com/wonder-sk/qgis-minimal-plugin (which I use), doesn't use a valid URL, so ok

[2021-08-02 08:56] timlinux opened #182 "Add support for wavefront models"
Please add a repo for wavfront .obj and .mtl files

You can validate using this.

https://pypi.org/project/PyWavefront/

[2021-08-02 08:57] timlinux opened #183 "Please add support for uploading QGIS composer layouts as shared resources"

[2021-08-02 08:57] timlinux commented on #183
.qpt files

[2021-08-14 09:21] anitagraser commented on #123
@timlinux sorry for pulling out this old ticket but is there an existing issue for implementing a gallery view? (couldn't find it)
I think a nice gallery view would make the experience much more attractive.

[2021-08-14 09:29] anitagraser opened #184 "Fix distorted hover images"
Concerning the hover images for styles, projects, and models: currently, the images are distorted because both height and width seem to be fixed. So if users upload non-square images, they look pretty ugly on hover:

![image](https://user-images.githubusercontent.com/590385/129441363-79d6fcae-a63d-4d0c-ba94-7a8712b42310.png)

[2021-08-14 09:32] anitagraser opened #185 "Add gallery view mode for hub (styles, models, projects)"
I think we could also add a gallery view @sumandari like Klas had in his origina mockup.

_Originally posted by @timlinux in https://github.com/qgis/QGIS-Django/issues/123#issuecomment-740690847_

[2021-08-16 00:40] sumandari commented on #185
Well noted @anitagraser. I will add the gallery view for hub.

[2021-08-23 17:21] agiudiceandrea opened #188 "<update_date> field is always empty for all plugins in plugins.xml"
This breaks the "Sort by Date Updated" functionality introduced with https://github.com/qgis/QGIS/pull/35008 in the QGIS plugins manager.
See https://github.com/qgis/QGIS/issues/44810

[2021-09-09 09:07] simonseyock opened #191 "Owners field of plugins should be searchable"
The owners field in the plugin management is a tiny scrollable list of **all** users. This makes it very hard to find a specific user.
It would be way more usable if it was a searchable combo box.

[2021-09-10 10:09] sumandari commented on #191
Hi @simonseyock, thank you for your input.
I agree with you. The bigger selector will make it easier to see the text.
For now, we can search the value by type quickly inside the box.

![191](https://user-images.githubusercontent.com/40058076/132837574-5acc5b6b-d9a8-4b49-a7c5-53126739e9f9.gif)

[2021-09-15 03:26] sumandari commented on #188
Hi @agiudiceandrea  @NyakudyaA, do you know what is the endpoint to do this sort function? Or what information should be in plugins.xml to fix the issue?

[2021-09-15 04:26] agiudiceandrea commented on #188
@sumandari the functionality was introduced in QGIS with https://github.com/qgis/QGIS/pull/35008

[2021-09-18 04:29] robe2 opened #194 "Changing owner of a plugin to a different LDAP user"
On OSGeo LDAP I deleted a user erwirth.  This user had plugins registered under erwirth.  Is it possible for those plugins to be transferred to a different OSGeo account.  I'm not sure which new one was set up.

If not I presume if he recreates this account he should be all set, but then he'd have two and each one would have to have a separate email.

[2021-09-18 14:14] sumandari commented on #194
Hi @robe2,
yes, I think it's possible.
Would you please send the detail:  old username, new username, registered plugins and evidence that the old username and the new username is the same person to email: sumandari@kartoza.com cc: dimas@kartoza.com and tim@kartoza.com
We will check and verify based on the detail provided.
Thank you.

[2021-09-18 15:10] sumandari opened #196 "Add cookie info disclaimer"

[2021-09-18 15:53] poetyi commented on #194
Thank you for the comment,
a little correction, my username is
_ewirth_ (instead erwirth)
at the site: https://plugins.qgis.org/accounts/login/

[2021-09-19 19:18] robe2 commented on #194
Sorry for the trouble.  Well at least I know it's possible in the future if someone asks.  I thought @poetyi  had created a new account after I deleted his old. Turns out he didn't so he recreated his old one and is all set now.

[2021-09-19 19:18] #194 closed

[2021-09-22 07:55] #184 closed

[2021-09-23 06:33] ismailsunni opened #198 "Make user able to choose the slug for the plugin"
I recently uploaded [a new plugin](https://plugins.qgis.org/plugins/GeoKKP-GIS-version-0_1_0/). I use the zipped file from the Github release page. Unfortunately, I didn't know that the plugin uploader will take the folder name as the slug for the plugin.

Now, I am stuck with this name: `GeoKKP-GIS-version-0_1_0` (see the version at the end of the name). When I upload a new version, I need to ren

[2021-09-23 10:54] agiudiceandrea commented on #188
@sumandari was the provided info sufficient to fix the issue, or do you need something else?

[2021-09-23 10:56] agiudiceandrea commented on #188
Anyway, I think @suricatus could give you better insight of the issue.

[2021-09-24 01:24] sumandari commented on #188
Hi @agiudiceandrea, apologies for the delay. Thank you for providing the info, but, yes, It's not clear to me.
I hope @suricactus would let me know what the endpoint is and what data require to fix the issue?

[2021-09-24 03:13] sumandari commented on #198
Hi @ismailsunni,

1. yes, it is possible to change the slug in a tricky way. We can change your slug on the database, but the folder name in your next version must have the same string as your modified slug.
2. yes, this is also possible, I think this is the safer way (compare to option # 1), we can add a new field for custom unique slug with default value: folder name of the plugin. Thank you for

[2021-09-24 03:35] sumandari opened #199 "fix gallery view:"
- [x] make the gallery as the default view
- [x] change the card to blue when hovered
- [x] change `style` in the gallery card to `StyleType`
- [ ] qgis/QGIS-Hub-Website#36
- [x] default list : newest to oldest
- [ ] make 1 level folder downloaded file

[2021-09-24 08:43] ismailsunni commented on #198
Hi @sumandari, thanks for the reply.

Can you change it to `GeoKKP-GIS` only?

[2021-09-24 09:15] sumandari commented on #198
@ismailsunni please test it https://plugins.qgis.org/plugins/GeoKKP-GIS/ and let me know when you got error.
Thank you

[2021-09-24 09:54] ismailsunni commented on #198
Thanks, @sumandari, it works!

[2021-09-24 12:03] sumandari commented on #182
- [x] add wavefronts app
- [ ] add validation
- [ ] add wavefront viewer

[2021-09-24 12:05] sumandari commented on #185
This feature has been deployed on prod. I will close this for now

[2021-09-24 12:05] #185 closed

[2021-09-24 12:08] sumandari commented on #155
- [x] listing
- [x] downloading
- [ ] caching mechanism

[2021-09-25 13:34] suricactus commented on #188
Hello @sumandari . It is quite easy to see where the issue comes from with this command:
[code]

QGIS expects that `update_date` in the plugins XML is not empty, like it is right now. It needs to hold 1) the date the version was updated or in the worst case 2) the date the plugin was created.

[2021-09-27 02:41] sumandari commented on #188
Thank you @suricactus. Now I can see what the issue is, I will look into it

[2021-10-01 01:32] sumandari commented on #188
Re-open ticket. I will close it when it has been deployed

[2021-10-01 03:11] sumandari commented on #188
The fix has been deployed.

[2021-10-01 03:13] sumandari commented on #184
The ticket was automatically closed by merging the fix.

The fix has just been deployed

[2021-10-01 05:57] agiudiceandrea commented on #188
@sumandari it seems now there is something wrong with the dates in plugins.xml compared with the dates displayed in plugins.qgis.org.
Just some example:
- Mapflow
  - plugins.xml
<create_date>2021-09-29T09:23:12.996709</create_date>
<update_date>2021-09-29T09:23:13.225389</update_date>
  - plugins.qgis.org
Created on: July 9, 2021
Latest Plugin Version: Sept. 29, 2021

- ImportPhotos
  - plugins.x

[2021-10-01 06:00] agiudiceandrea commented on #188
See https://github.com/qgis/QGIS-Django/pull/204#issuecomment-931932741

[2021-10-01 10:54] sumandari commented on #188
@agiudiceandrea @suricactus another fix has been deployed. Please kindly test it

[2021-10-01 11:00] agiudiceandrea commented on #188
@sumandari it seems now it's OK! Thank you!

[2021-10-01 14:11] #188 closed

[2021-10-12 01:32] sumandari opened #207 "Fix hub detail page layout"

[2021-10-27 23:00] timlinux opened #212 "Add resource sharing for qlyr files"
Sumandari can we add another sharing with the same structure but for QGIS .qlyr files.

[2021-11-09 03:35] #196 closed

[2021-11-09 06:21] sumandari opened #214 "Update versioning with github tag"
To update  using https://gitpython.readthedocs.io/en/stable/index.html

_Originally posted by @sumandari in https://github.com/qgis/QGIS-Django/issues/213#issuecomment-954436913_

[2021-11-12 01:27] sumandari commented on #182
The feature has been deployed in v1.0.0

[2021-11-12 01:27] #182 closed

[2021-11-12 01:29] sumandari commented on #117
the fix has been deployed. I will close this for now

[2021-11-12 01:29] #117 closed

[2021-11-12 01:42] dimasciput opened #217 "Add the version system for share hub like we had in plugins."

[2021-11-12 01:42] dimasciput opened #218 "add validation for zipfile uploading on file sharing feature (style, gpkg, model)"

[2021-11-19 10:37] timlinux opened #220 "QLR Menu and title etc"
Replace qlr with QGIS Layer Definition File

[2021-11-23 00:43] sumandari opened #221 "Add tutorial link on 3D models landing page"
Add link to https://www.youtube.com/watch?v=rV0m_YN84Q0 on 3D models landing page with text Find out how to create and use these 3D models in QGIS

[2021-11-30 10:59] suricactus opened #222 "QGIS should fetch plugins list by the full QGIS version including the patch number"
### Feature description

Currently when QGIS requests the available QGIS plugins, it sends only the major and the minor versions:
https://plugins.qgis.org/plugins/plugins.xml?qgis=3.22

However, there are patch versions that have quite improtant fixes in place, especially in LTR releases.

So I would propose that both QGIS and QGIS plugins support patch versions too:

https://plugins.qgis.org/plug

[2021-11-30 11:11] suricactus opened #223 "Plugin list does not contain plugins with patch versions"
I have a plugin with patch version like this in `metadata.txt`:

[code]

However, I am never able to see it in QGIS 3.16.X versions, even if they are newer that 3.16.1.

This is because the patch number is not sent when requesting the plugin list as I rescribed in #222 , this is how it is now:
http://plugins.qgis.org/plugins/plugins.xml?qgis=3.22

As a short-term fix, I think we can assume the use

[2021-12-05 08:10] Gustry opened #225 "State of the stack used in the repository"
I'm just looking at versions when launching the stack on my local machine with docker :

* Python 3.7
  * Still supported until June 2023
  * Upgrade to 3.9 ?
* Django 2.2.24
  * Supported until Apr 2022, coming soon
  * Latest LTS is 3.2.9
* PG 9.6
  * Not supported anymore since November 2021
  * Upgrade to 13 ?
* RabbitMq 3.6
  * Not supported since 31 May 2018 !
  * Upgrade to 3.9.11

The bigg

[2021-12-20 09:53] Gustry commented on #225
Django 4.0 has been released recently, but the LTR version is not before beginning of 2023 with 4.2

[2021-12-21 01:25] dimasciput commented on #225
@Gustry

Yes that's correct.

I think we should be fine with the django 3.2.9 until 4.2 is released.

[2022-01-03 11:10] timlinux opened #229 "Fix gpkg placeholder text for QLR"
![image](https://user-images.githubusercontent.com/178003/147924177-1b3e094f-54d4-419d-bfb2-e1be3b0fbe52.png)

[2022-01-04 09:09] anitagraser opened #231 "Naming issue: "style" page lists symbols"
On our hub https://plugins.qgis.org/styles/, we refer to "Styles" but the resources listed are symbols. This is confusing since the term style is used differently in QGIS, i.e. for layer styles which can be saved as .qml. Symbols however .xml ending.

[2022-01-04 12:53] timlinux commented on #231
Thanks @anitagraser. Maybe we need to think about this. Currently we have Settings -> Style Manager where these are managed so maybe we should resolve the internal inconsistency in QGIS first?

[2022-01-06 10:05] timlinux opened #232 "Summary of tickets for improving certification"
https://docs.google.com/document/d/1tMW8raNsVbbF8yvCAkUjLlokNGU_9hMM5fu7oSIAOBU/edit?usp=sharing

[2022-01-08 12:43] Gustry commented on #225
I started the upgrade to 3.2 in the PR https://github.com/qgis/QGIS-Django/pull/233
For Python, I have created a ticket in kartoza/django-base image

[2022-01-08 13:08] Gustry commented on #232
@timlinux Is this ticket for this repository QGIS-Django ? Certification is in the prj.app repository.

[2022-01-13 09:42] Gui0delp opened #235 "I try to add a new version of my plug in, but it seems nothing happen"
Hi !
since yesterday i try to upgrade a new version of my plugin ([French Address 1.3.0](https://plugins.qgis.org/plugins/french_address/version/1.3.0/)), but i seems nothing happen in the approve side... do you think it's a problem from my zip folder or anything else ? I haven't receive error message during the upgrade process. Perhaps is a wrong manipulation from my side.

Kind regard

[2022-01-13 10:27] Gui0delp commented on #235
Great it work, i don't know what happened. Thanks a lot ! I close the issue.
Have a nice day

[2022-01-13 10:27] #235 closed

[2022-01-14 02:31] sumandari commented on #229
The fix has been deployed in version 1.1.2

[2022-01-14 12:05] anitagraser commented on #231
@timlinux Excellent question. I would vote for consistency, even if it will take some effort to update all references from Style Manager to Symbol Manager.

[2022-01-14 12:14] anitagraser commented on #231
Let's see what others think: https://lists.osgeo.org/pipermail/qgis-community-team/2022-January/005987.html

[2022-01-14 20:40] anitagraser commented on #231
Related discussions pointed out by @DelazJ:

* https://github.com/qgis/QGIS/pull/2765
* https://github.com/qgis/qgis3_UIX_discussion/issues/16

[2022-01-25 19:57] rduivenvoorde opened #236 "Setting 3.22 as maximum version in plugin metadata.txt is used as 3.22.0 (while we think it should be 3.22.99)"
Hi All,

recently Raymond published a plugin which had some issues with master version (3.23) so in it's metadata he defined a maximum version as:
[code]
BUT users running QGIS 3.22 did not see it. Then in plugins.qgis.org we saw that the minimum version showed `3.22.0` so the people running 3.22.1 and 3.22.2 did not even see the plugin.

So our conclusion: apparently 3.22 was internally translate

[2022-01-26 07:57] rduivenvoorde commented on #236
@raymondnijssen  Mmm, googling about how version numbering is handled normally, see PEP 440
https://www.python.org/dev/peps/pep-0440/#examples

It looks like 3.22 should be indeed interpreted as 3.22.0 if you use strict checking, but there is also a 'compatibility checking':
https://www.python.org/dev/peps/pep-0440/#compatible-release
I tried to us that, but did not succeed.
Anyway some python cod

[2022-01-26 08:13] raymondnijssen commented on #236
In that case maybe somehow specifying this in the example metadata.txt comment would help?

BTW, as a human I disagree with normal/formal version numbering. If someone tells me that a plugin works in 3.16, I would be surprised that it does not work in 3.16.4

[2022-01-26 08:17] sumandari commented on #236
@rduivenvoorde @raymondnijssen I submitted a PR #224 for this issue, but haven't merged it yet. Would you please look into it and give your feedback? Thank you

[2022-01-28 07:49] rduivenvoorde commented on #236
This is actually a duplicate of https://github.com/qgis/QGIS-Django/issues/223

[2022-01-28 10:39] timlinux opened #237 "We need an admin UI for managing versions"
Currently the QGIS versions list is maintained here

![imagem](https://user-images.githubusercontent.com/178003/151532547-a7bfc994-5da8-410e-a44f-3cc0ce0c7232.png)

https://github.com/qgis/QGIS-Django/blob/aa91b575f4920b78e74f176a306fbf4963c0c3ed/qgis-app/plugins/tasks/generate_plugins_xml.py#L21

Which is very fragile and manual, requiring a developer to update code and redeploy the site each tim

[2022-03-04 11:00] Gustry opened #240 "Plugins changing their version prefix have an order issue"
Before, we were releasing the plugins "AtlasPrint" with a `v` prefix in its version name. For instance, `v3.2.2`.

I want to change this behavior, so yesterday, I have released `3.3.0` without any `v` prefix.

Unfortunately, plugins.qgis.org doesn't sort version well now :
![Screenshot from 2022-03-04 11-47-56](https://user-images.githubusercontent.com/1609292/156751281-a16264f5-278b-4084-bbb5-34c

[2022-03-06 00:29] jayenashar commented on #160
closing this as we think we found the reason and it's not this.

[2022-03-06 00:29] #160 closed

[2022-03-19 09:53] DelazJ commented on #61
Should this issue report be closed, now?

[2022-03-19 10:10] DelazJ commented on #56
Afaics, planet.qgis.org/planet/ currently opens qgis.org and qgis.org/planet/ returns 404. plugins.qgis.org/planet/ however opens the planet page...

[2022-03-19 10:18] DelazJ commented on #54
According to https://github.com/qgis/QGIS-Django/blob/master/REQUIREMENTS.txt, Django version is 2.2.5
Closing?

[2022-03-20 21:46] nyalldawson opened #242 "Add plugin/resource name to HTML title"
Currently, the HTML title of the plugins site is ALWAYS "QGIS Python Plugins Repository", regardless of which page on the site you are actually visiting.

This is problematic for search engines, as the results when searching for a specific QGIS plugin by name seem to be directing just to a generic "QGIS plugins" page:

![image](https://user-images.githubusercontent.com/1829991/159187223-f28d261a-1

[2022-03-21 06:00] #61 closed

[2022-03-22 08:37] pathmapper commented on #222
from https://github.com/qgis/QGIS/issues/46283#issuecomment-1074879930

[2022-03-22 13:19] pathmapper commented on #236
related

- https://github.com/qgis/QGIS-Django/issues/222
- https://github.com/qgis/QGIS/issues/46283
- https://github.com/qgis/QGIS/pull/47907

[2022-03-25 03:10] #237 closed

[2022-03-25 03:16] dimasciput commented on #237
We can update the versions here https://plugins.qgis.org/admin/preferences/sitepreference/2/change/

[2022-03-25 08:52] dimasciput commented on #242
this is fixed now
<img width="931" alt="image" src="https://user-images.githubusercontent.com/1979569/160087766-5c5d58fc-9565-4146-b62c-89f29d1fc148.png">

[2022-04-18 21:17] agiudiceandrea commented on #242
This issue report could be closed, since the issue it is fixed now.

[2022-04-18 21:24] nyalldawson commented on #242
Great, thanks @dimasciput !

[2022-04-18 21:24] #242 closed

[2022-04-18 21:31] agiudiceandrea opened #245 "Sorting of plugins list doesn't work if filtered by a tag or a author"
From "All plugins" https://plugins.qgis.org/plugins/
- click on plugin tag "cad" -> https://plugins.qgis.org/plugins/tags/cad/
- click on any column header: the sorting order does not change

[2022-04-19 09:51] dimasciput commented on #245
@agiudiceandrea please check again, this should be fixed now.

[2022-04-19 09:57] agiudiceandrea commented on #245
Yes, it seems OK now. Thanks a lot!

[2022-04-19 09:57] #245 closed

[2022-06-20 13:47] nicogodet opened #247 "`https://plugins.qgis.org/plugins/plugins.xml?qgis=3.26` reports “404 not found”"
Reported by user on IRC/Matrix

[2022-06-22 16:59] nicogodet commented on #247
Seems fixed

[2022-06-22 16:59] #247 closed

[2022-08-16 06:28] pathmapper opened #248 "https://plugins.qgis.org/ not available"
https://plugins.qgis.org/ is not available since a few hours

Is this expected because of some ongoing maintenance?

[2022-08-16 14:08] pathmapper commented on #248
Site is back again, thanks @timlinux !

[2022-08-16 14:08] #248 closed

[2022-08-17 06:14] pathmapper opened #249 "Add timezone information for timestamp"
Currently, in the `Versions`-tab there is for each version the timestamp shown:

![grafik](https://user-images.githubusercontent.com/20856381/185047282-c3f62ac8-b068-444b-9306-52d584b29701.png)

But it's not clear which timezone is valid for this timestamp. So maybe there could be some information regarding the timezone added, e.g. on mouse over.

[2022-08-21 07:29] #249 closed

[2022-09-15 13:35] koebi opened #260 "Plugin maintainer cannot be changed"
Currently, the metadata doesn't specify any `maintainer`-field, even though the plugin details page (e.g. [for the ORStools plugin](https://plugins.qgis.org/plugins/ORStools/)) has this info.

It also has an author field that can be changed, even though it feels like it should be the other way around - where the original author is fixed (as that will not change) and the maintainer can be changed (

[2022-09-15 13:39] koebi opened #261 "Initial plugin view is on second tab but shows info of first tab"
When clicking on a plugin, i.e. [this one](https://plugins.qgis.org/plugins/ale/), I get to the plugin site.

This usually has three "tabs": About, Details and Version.
Every now and then, the About tab will be missing.

The box under the tabs always shows the info from the first tab, while the tab highlighted makes it seem like I'm on the second tab:
![Screenshot 2022-09-15 at 15-39-08 Advanced L

[2022-09-24 01:34] jayenashar opened #263 "Due to the size of the search button, certain window widths will cause the header to overflow into a second row and cover up the main content:"
Due to the size of the search button, certain window widths will cause the header to overflow into a second row and cover up the main content:

![image](https://user-images.githubusercontent.com/590385/192040611-b7e526e2-6e9e-4931-9a68-acd55306296a.png)

On a related note: in night mode, the menu icon is black on dark background:

![image](https://user-images.githubusercontent.com/590385/192040640

[2022-10-18 23:52] agiudiceandrea commented on #261
"The box under the tabs always shows the info from the first tab, while the tab highlighted makes it seem like I'm on the second tab": confirmed.
"Every now and then, the About tab will be missing": I cannot confirm.

[2022-11-08 10:54] komima opened #265 "Can not upload a plugin zip file using JSON-RPC"
QGIS plugin repository API does not seem to support uploading plugins using JSON-RPC. Trying to upload a plugin using `plugin.upload` call with the single parameter (plugin zip file contents) encoded as a base64 string fails and the response contains an error message:

![image](https://user-images.githubusercontent.com/58747243/200539489-86bf08c5-b4c4-44c2-a6bd-c27808422b14.png)

Since using JSON-

[2022-11-09 06:47] #265 closed